@import '_reset';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/bootstrap';
@import '_variables';

$mainFontColor: #636057;
$grayDark: #494846;
$grayBright: #858377;
$mainColor: #FFDF65;

.text-gray-dark {
  color: $grayDark;
}

.text-gray-bright {
  color: $grayBright;
}

.text-yellow-bright {
  color: $mainColor;
}

body {
  font-family: 'NotoSansCJKtc-Regular';
}

.m-font-color {
  color: $mainFontColor !important;
}

.m-border-gray {
  border-color: $mainFontColor !important;
}

.m-bg-yellow {
  background-color: $mainColor !important;
}

.m-border-color {
  border: $mainColor !important ;
}

.h7 {
  font-size: 0.875rem;
}

.h8 {
  font-size: 0.75rem;
}

.rounded-5 {
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

.rounded-4 {
  border-radius: 8px;
}

.support-btn {
  transition: 0.2s ease;
  letter-spacing: 1.1px;
  &:hover {
    background-color: #FF785E !important;
    color: white;
  }
}

.follow-btn {
  transition: 0.2s ease;
  letter-spacing: 1.1px;
  &:hover {
    border-color: white;
    background-color: $mainColor !important;
  }
}